{% extends 'blog/base.html' %} {% block content %}

<div class="form-card">
  <h2 class="mb-4">✏️ Update Blog</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
      <label>Title</label>

      {{ form.title }}
    </div>

    <div class="mb-3">
      <label>Content</label>

      {{ form.content }}
    </div>

    <div class="mb-3">
      <label>Category</label>

      {{ form.category }}
    </div>

    <div class="mb-3">
      <label>Tags</label>

      {{ form.tags }}
    </div>

    <div class="mb-3">
      <label>Image</label>

      {{ form.image }}
    </div>

    <button class="btn btn-primary">Update Blog</button>
  </form>
</div>

{% endblock %}
