# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Media
media/

# Environment Variables
.env

# Static Files
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log